@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Public Sans', sans-serif;
    color: #fff;
  }
  a {
    display: block;
  }
  a:hover{
    opacity: 0.8;
  }
  input{
    display: block;
  }
}

@layer components {
  .inputSignIn {
    @apply bg-white/[.63] rounded w-full md:w-120 h-[45px] tracking-wider text-m text-black pl-5 mb-3;
  }
  .errorSignIn{
    @apply text-list-fifth text-xm ml-3;
  }

}

@layer utilities {
  .landing-pg {
    background:url("https://images.unsplash.com/photo-1589987607627-616cac5c2c5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80&fbclid=IwAR3lvPv7KpZO9CPbjtvrdV61N7txXEfMwhxpU5BZ1a9hfV_YrtyuFS24u04");
    background-size:cover;
  }
  .landing-color{
    background: rgba(111,121,134,.35);
    backdrop-filter: blur(2px);
  }
  .todo-bg{
  width: 100%;
  height: 100vh;
  background-image:url("https://images.unsplash.com/photo-1570649236495-42fa5fe5c48b?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MDQzNjB8MHwxfGFsbHx8fHx8fHx8fDE2OTYyMzY3OTN8&ixlib=rb-4.0.3&q=85"),linear-gradient(90deg, rgba(41, 23, 8, 1) 100%, transparent 0);
  background-size:50% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  }
  .todoRwd-bg{
    width: 100%;
    height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1570649236495-42fa5fe5c48b?crop=entropy&cs=srgb&fm=jpg&ixid=M3w1MDQzNjB8MHwxfGFsbHx8fHx8fHx8fDE2OTYyMzY3OTN8&ixlib=rb-4.0.3&q=85");
    background-size:cover;
    background-repeat: no-repeat;
    
  }
  .signout-btn{
    background: rgba(217,217,217,.25);
  }

  .active{
    border-bottom: 3px solid rgba(70,34,9,.8);
  }

  .custom-checkbox {
    /* 移除原有的外觀 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: 8px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #462209;
  }
  .custom-checkbox::before {
    content: "\2713";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    width: 20px;
    height: 20px;
    color: #462209;
    background:rgba(255,255,255,.95);
    border-bottom:1px solid #462209;
    border-right:1px solid #462209;
    text-align: center;
    line-height: 15px;
    display: none;
  }
  .custom-checkbox:checked::before {
    display: block;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .loader::before {
      content: "";
      border: 4px solid #3498db; 
      border-top: 4px solid transparent;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: loading 1s linear infinite; 
  }

  @keyframes loading {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  .loaded .loader {
      display: none;
  }
  .circle{
    background: rgba(105,76,56,.3);
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .show{
    background: rgba(105,76,56,.7);
  }
}
